# Virtual Environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Connection JSON (não versionar credenciais)
**/connection.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignorar documentação gerada pelo SchemaSpy
schemaspy/output/

